header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-style:arial;
  background-color:rgb(250, 249, 255)
  
}

body {
  background-image: url('https://i.pinimg.com/originals/ef/70/85/ef7085be91d78613f0938fee57e45f4a.jpg');
  background-size: cover; /* This property ensures that the background image covers the entire viewport */
  background-position: center; /* This property centers the background image */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}





.title {
  margin: 20px;
  font-size: 2em; 
  color: #080808; 
  font-style:arial;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline;
  margin-right: 30px;
}

.nav-bar a {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 1.2em; 
  font-style: Arial;
}

.nav-bar a:hover {
  color: #ee0c97;
}
.student-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  font-style: Tahoma;
}

.card {
  margin-top: 70px;
  max-width:  300px; 
  max-height:300px; 
  padding: 50px;
  border: 5px solid #ec5c08;
  background-color: #ac19f0;
  border-radius: 10px; 
  box-shadow: 5px 5px 5px  rgb(255, 7, 222); 
  text-align: center;
  font-style: Tahoma;
  display: inline-block;
}

.card img {
  max-width: 60%;
  height: auto; 
  border-radius: 50%; 
  margin-bottom: 20px; 
  font-style: Tahoma;
}

.card:last-child {
  margin-right: auto;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ca1880; 
  padding: 2px; 
  text-align: center; 
  font-size: 20px; 
  font-style: Arial;
}